.dishes-list {
  display: flex;
  flex-direction: column;
  row-gap: calc-space(1.5);
  margin-bottom: calc-space(4);

  h3, p {
    margin:0;
    margin-bottom: 5px;
  }

  .dish {
    padding: 0;
    background: white;
    border-radius: $border-radius;
    box-shadow: $shadow-items;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;

    &__desc {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left:15px;
      padding-right:5px;
      min-width: 0px;
      
      h3, p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      p {
        margin:0;
      }
    }

    &__select {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-end;

      &__checkbox {
        position: relative;
        height: 100%;
        width: 0px;
        transition: width .2s ease-in-out;
      }

      p {
        font-weight: 600;
        padding-bottom: 10px;
        padding-right: 20px;
      }

      [type="radio"] {
        position: relative;
        margin:0;
        display: block;
        cursor: pointer;
        height: 100%;
        width: 100%;
        appearance: none;

        &::before {
          content: "";
          position: absolute;
          top:0;
          left: 0;          
          width: 100%;
          height: 100%;
          border: none!important;
          border-radius: 0 $border-radius $border-radius 0;
          background-color: $background-success;
        }

        &:checked::after, &:not(:checked)::after {
          position: absolute;
          top:0;
          left:0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          font-size: 1.6rem;
          font-family: "Material Icons";
          content: "\e86c";
          color:white;
          transform: rotate(0deg);               
        }
        &:not(:checked)::after {
          content: "\e836";
        }
      }
    }

    &:hover .dish__select__checkbox {
      width: 65px;

      & input[type="radio"]::after{
        transition: transform .3s ease-in-out; 
        transform: rotate(360deg);
      }
    }
  }
}
