.dishes-list {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: calc-space(1.5);
  margin-bottom: calc-space(4);

  h3, p {
    margin:0;
    margin-bottom: 5px;
  }

  .dish {    
    flex:1 1 30%;
    min-width: 300px;
    max-width: 30%;
    padding: 0;
    background: white;
    border-radius: $border-radius;
    box-shadow: $shadow-items;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
    animation: dish-show $anim-dish-show-dur ease-out both;
    @for $i from 1 through 9 {
      &--#{$i} {
        animation-delay: ($anim-dish-show-dur / 3) * $i;
      }
    }

    &__desc {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left:15px;
      padding-right:5px;
      min-width: 0px;
      
      h3, p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      p {
        margin:0;
      }
    }

    &__select {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-end;

      &__checkbox {
        position: relative;
        height: 100%;
        width: 0px;
        transition: width .2s ease-in-out;
      }

      p {
        font-weight: 600;
        padding-bottom: 10px;
        padding-right: 20px;
      }

      [type="radio"] {
        position: relative;
        margin:0;
        display: block;
        cursor: pointer;
        height: 100%;
        width: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        appearance: none;

        &::before {
          content: "";
          position: absolute;
          top:0;
          left: 0;          
          width: 100%;
          height: 100%;
          border: none!important;
          border-radius: 0 $border-radius $border-radius 0;
          background-color: $background-success;
        }

        &:checked::after, &:not(:checked)::after {
          height: 24px;
          width: 65px;
          font-size: 24px;
          line-height: 24px;
          text-align: center;
          font-family: "Material Icons";
          content: "\e86c";
          color:white;
          transform: rotate(0deg);               
        }
        &:not(:checked)::after {
          content: "\e836";
        }
      }
    }

    &:hover .dish__select__checkbox {
      width: 65px;

      & input[type="radio"]::after{
        animation: rotate 500ms backwards ease-in-out 100ms;
        transform: rotate(0deg);
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dish-show {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}