.features-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: calc-space(2) 0;
  padding-left: calc-space(1);
  column-gap: calc-space(2);
  row-gap: calc-space(2);

  a{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    column-gap: calc-space(2);
    color:inherit;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex: 1 1 auto;
    column-gap: calc-space(2);
    min-width: 170px;    
    padding: calc-space(2) calc-space(4);
    font-size: 0.85rem;
    line-height: 25px;
    font-weight: 600;
    background-color: $background-greylight;
    border-radius: $border-radius;
    box-shadow: $shadow-items;
    counter-increment: li;

    i {
      color:grey;
    }

    &::before {
      position: absolute;
      left:0;
      height:25px;
      width: 25px;
      line-height: 25px;
      font-size: 13px;
      color:white;
      border-radius: 50%;
      text-align: center;
      background-color: $primary;
      content: counter(li);
      transform: translateX(-10px);
    }
  }
}